@model Dictionary<string, List<string>>

<h2>Resim Listesi</h2>

@if (!Model.Any())
{
    <p>Henüz yüklenmiş bir resim yok.</p>
}
else
{
    <div class="row">
        @foreach (var entry in Model)
        {
            <div class="col-md-6">
                <h4>Orijinal</h4>
                <img src="@entry.Key" class="img-fluid" />
                <h5>Değiştirilmiş Halleri</h5>
                <div class="d-flex flex-wrap">
                    @foreach (var resized in entry.Value)
                    {
                        <img src="@resized" class="img-thumbnail m-2" style="width: 150px; height: auto;" />
                    }
                </div>
            </div>
        }
    </div>
}

<div class="row mt-4">
    <form asp-controller="Picture" asp-action="ChangeResolutionAndSave" method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile" class="form-control mb-2" />
        <button type="submit" class="btn btn-primary">Yükle ve Çözünürlükleri Değiştir</button>
    </form>
</div>
