@using WebApplication1.Web.Models.ViewModels
@model ProductListViewModel

<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Stock
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.products)
		{
			<tr>
				<td>
					@item.Id
				</td>
				<td>
					@item.Name
				</td>
				<td>
					@item.Price
				</td>
				<td>
					@item.Stock
				</td>
			</tr>			
		}
		
	</tbody>
</table>