@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/ProductListPartialView.cshtml" model="@ViewData["ProductListViewModelList"]"></partial>
    </div>
    <div class="col-md-4">
        @*@await Component.InvokeAsync("ProductList",new{type=1})*@
        <vc:product-list type=1></vc:product-list>
    </div>
    <div class="col-md-4">
        @*@await Component.InvokeAsync("ProductList",new {type=2})*@
        <vc:product-list type=2></vc:product-list>
    </div>

</div>